<% include partials/header %>

<div class="profile">
    <i class="fa fa-user"></i> goelaakash79
</div>
<div class="container">
    <div class="header row card">
        <div class="brand">
            <p>
                <span>H</span>Hacker News
            </p>
        </div>
        <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search stories">
        </div>
    </div>

    <div class="filters row">
        <form action="/" method="post">
            <span>Search</span>
            <select name="tag" id="" style="margin-left: 16px; font-size: 14px; padding: 0px;">
                <option value="stories">Stories</option>
                <option value="comments">Comments</option>
            </select>
            <span style="margin-left: 16px;">by</span>
            <select name="date" id="" style="margin-left: 16px; font-size: 14px; padding: 0px;">
                <option value="popularity">Popularity</option>
                <option value="date">Date</option>
            </select>
            <span style="margin-left: 16px;">for</span>
            <select name="date" id="" style="margin-left: 16px; font-size: 14px; padding: 0px;">
                <option value="all time">All time</option>
                <option value="last 24h">Last 24h</option>
                <option value="past week">Past Week</option>
                <option value="past month">Past Month</option>
                <option value="past year">Past Year</option>
            </select>
            <button class="ml-4 btn"
                    style="background: #FF742B; color: #fff; font-weight: 700; padding-top: 4px; padding-bottom: 4px;">
                Filter
            </button>
        </form>
    </div>

    <div class="news row card">
        <h6>Lorem ipsum dolor sit amet.</h6>
        <p>6015 points | Cogito | a year ago | 436 comments | <a href="#">(https://www.google.com)</a></p>
    </div>

</div>

<% include partials/footer %>
