body {
    margin: 16px;
    font-family: 'Nunito';
}

.profile{
    position: fixed;
    background: steelblue;
    color: white;
    font-weight: 700;
    padding: 8px;
    cursor: pointer;
    margin: -16px;
    z-index: 999;
    border-bottom-right-radius: 16px;
    opacity: 0.8;
    transition: 0.2s all ease-in;
}

.profile:hover{
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    background: #333333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.23);
}

.card {
    border: 0;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.23);
}

.header {
    color: white;
    background: #FF742B;
    display: flex;
    flex-direction: row;
}

.header span {
    font-weight: 700;
    font-size: 32px;
    padding: 0 10px;
    max-width: 50px;
    border: 2px solid white;
    margin-right: 16px;
    font-family: 'Nunito';
}

.header p {
    font-family: 'VT323';
    font-size: 24px;
    margin: 0;
}

.brand {
    flex-grow: 3;
}

.search {
    float: right;
    flex-grow: 2;
    background: #fff;
    border-radius: 2px;
}

.search i {
    color: #FF742B;
    padding: 10px;
    height: 100%;
    font-size: 24px;
}

.search input {
    border: 0;
    /*min-width: 70%;*/
    max-width: 100%;
}

.filters {
    margin-top: 8px;
    padding: 8px 12px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16), 0px 1px 2px rgba(0, 0, 0, 0.1);
    background: #F6F6EF;
    color: #333;
    margin-bottom: 8px;
}

a {
    color: #666;
    transition: 0.2s all ease;
}

a:hover{
    text-decoration: none;
    color: #333;
}

.news{
    background: #F6F6EF;
    margin-bottom: 6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 1px 2px rgba(0, 0, 0, 0.23);
}

.news h6{
    font-weight: 700;
    margin-bottom: 2px;
}

.news p{
    margin-bottom: 0;
    font-size: 14px;
    color: #333333;
}

.filters span{
    margin-top: 6px;
}

option{
    padding: 0;
    margin: 0;
}

@media (max-width: 475px) {
    .brand {
        margin-bottom: 8px;
    }
}

.auth{
    display: flex;
    top: 15vh;
    flex-direction: row;
}

.auth .col-sm-6{
    flex-grow: 3;
}

.auth h2{
    font-family: VT323;
    font-size: 36px;
    margin-top: 4%;
    font-weight: 700;
}

label{
    font-weight: 700;
    font-family: 'VT323';
    font-size: 24px;
}

button{
    font-weight: 700!important;
    font-family: VT323;
    font-size: 20px!important;
    padding: 4px 12px!important;
}

button:hover{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.23);
}

input{
    font-family: VT323;
}

.auth a{
    font-family: VT323;
    font-size: 16px;
    margin-left: 32px;
}

.logo{
    position: absolute;
    right: 0;
    z-index: 999;
    padding: 16px;
    background: #FF742B;
    color: #ffffff;
    font-family: VT323;
    font-weight: 700;
    font-size: 24px;
    top:0;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    border-bottom-left-radius: 16px;
}

.logo:hover{
    opacity: 0.8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.23);
}

.pages span {
    background: #FF742B;
    padding: 4px 8px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    margin: 4px;
}

@media (max-width: 475px) {
    .auth {
        top: 5%;
        bottom: 5%;
    }
}